body {
  background-color: #f8f8f8;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 10px;
    padding: 0 30px;
  }
}

.login-panel {
    margin-top: 25%;
}
